.container {
    width: 100%;
    padding: 80px;
}

.iconImg {
    width: 80px;
    height: 80px;
}

.textContainer {
    width: 100%;
    padding: 16px;
    border: 1px solid var(--border);
    border-radius: 4px;
    margin-bottom: 40px;
}

.imgContainer {
    width: 100%;
    margin-bottom: 20px;
}

.grayText {
    color: var(--gray);
    font-size: 14px;
    font-weight: 700;
}

.pointText {
    color: var(--blue);
    font-weight: 700;
}

.linkText {
    color: var(--gray);
    border-bottom: 1px solid var(--border);
}

@media (max-width: 550px) {
    .container {
        padding: 10px;
    }
}
