.container {
    position: fixed;
    top: 0;
    z-index: 100;
}

.navItemContainer {
    display: flex;
    align-items: center;

    width: 100%;
    height: 70px;
    padding: 0 20px;
    margin: 0;

    border-bottom: 1px solid var(--border);
}

.homeItem {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 60px;
    margin-right: 80px;
    cursor: pointer;
}

.homeItem img {
    margin-top: 8px;
    width: 100%;
}

.navItem {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 100px;
    height: 100%;
    margin-right: 80px;
    cursor: pointer;

    font-size: 16px;
    font-weight: 700;
}

.navItem::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 0px;
    height: 2px;
    background-color: var(--blue);
}

.navItem p {
    margin: 4px 0;
}

.navItem:hover {
    color: var(--blue);
}

.navItem:hover::after {
    width: 80px;
    transition: 0.5s;
}

.isSelected {
    color: var(--blue);
}

.isSelected::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 80px;
    height: 2px;
    background-color: var(--blue);
}

@media (max-width: 550px) {
    .navItemContainer {
        height: 60px;
    }

    .homeItem {
        width: 50px;
        margin-right: 20px;
    }

    .navItem {
        width: 70px;
        margin-right: 20px;
        font-size: 14px;
    }
}
