.container {
    position: sticky;
    top: 0;
}

.navItemContainer {
    display: flex;
    align-items: center;

    width: 100%;
    max-width: 1120px;
    height: 50px;
    padding: 0 20px;
    margin: 0;

    background-color: #fdfdfd;
    border-bottom: 1px solid var(--border);
}

.navItem {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 100px;
    height: 100%;
    margin-right: 80px;
    cursor: pointer;
}

.navItem::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 0px;
    height: 2px;
    background-color: var(--blue);
}

.navItem p {
    font-size: 14px;
    font-weight: 700;
    margin: 4px 0;
}

.navItem:hover {
    color: var(--blue);
}

.navItem:hover::after {
    width: 80px;
    transition: 0.5s;
}

.isSelected {
    color: var(--blue);
}

.isSelected::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 80px;
    height: 2px;
    background-color: var(--blue);
}

@media (max-width: 550px) {
    .navItem {
        width: 80px;
        margin-right: 10px;
    }
}
