.container {
    margin-bottom: 60px;
}

.titleContainer {
    margin-bottom: 20px;
    border-bottom: 1px solid var(--border);
}

.childrenContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    .childrenContainer {
        justify-content: center;
    }
}
