.title {
    width: fit-content;
    color: var(--orange);
    border-bottom: 2px solid var(--orange);
    margin-bottom: 32px;
}

.childrenContainer {
    width: 100%;
    padding: 20px 0;
    margin-bottom: 80px;
}
