.title {
    width: fit-content;
    color: var(--orange);
    margin-bottom: 20px;
}

.childrenContainer {
    width: 100%;
    margin-bottom: 80px;
}

@media (max-width: 550px) {
    .childrenContainer {
        margin-bottom: 50px;
    }
}
